services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - crucible_data:/data/db

  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/the-crucible
      - PORT=5000
    depends_on:
      - mongodb

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend

volumes:
  crucible_data: